body {
    margin: 0;
    font-family: sans-serif;
    background-image: url('/blackboard.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#root {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}